<div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        
        <tbody *ngFor="let user of users; index as i; let odd = odd; let even = even">
            <tr #trow data-id={{user.id}} (click)="rowClick(user)" [ngClass]="{odd:odd, even:even}">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email }}</td>
                <td>{{user.phone }}</td>
            </tr>
        </tbody>
    </table>

 </div>   